body {
  font-family: Roboto;
}
a{
  text-decoration: none;
  color:inherit;
}
main {
  position: absolute;
  top:0;
  left: 0;
}
.contaier1 {
  position: absolute;
  overflow: hidden;
  display: flex;
}
.intro {
  left: 0px;
  top: 0px;
  bottom: 0;
  width: 715px;
  height: 982px;
  background: linear-gradient(60.67deg, #ffbc6e 0%, #ffddb6 100%, #432400 100%);
}
.image img {
  left: 715px;
  right: 0;
  top: 0px;
  width: 800px;
  height: 982px;
}
header {
  z-index: 2;
  border-radius: 14px;
  background-color: #a44f00;
  position: absolute;
  width: 1095px;
  height: 65px;
  left: 209px;
  right: 463px;
  top: 28px;
}
nav {
  align-items: center;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px 18px;
  gap: 150px;
}
li {
  letter-spacing: 0.46em;
  color: white;
  display: block;
  margin-top: -10px;
}
.circle {
  z-index: 1;
  background-color: white;
  border-radius: 50%;
  top: 10px;
  left: 40px;
  position: absolute;
  width: 98px;
  height: 98px;
}
.intro h1 {
  z-index: 1;
  position: absolute;
  width: 577px;
  height: 375px;
  left: 75px;
  top: 181px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 122%;
  /* or 117px */

  letter-spacing: 0.23em;

  color: #000000;
}
.l1 {
  z-index: 1;
  position: absolute;
  width: 175px;
  height: 8px;
  left: 673px;
  top: 550px;
  border-radius: 5px;
  background-color: black;
}
.l2 {
  z-index: 1;
  position: absolute;
  width: 50px;
  height: 8px;
  left: calc(673px + 175px + 10px);
  top: 550px;
  border-radius: 5px;
  background-color: black;
}
button {
  width: 242px;
  height: 74px;
  border-radius: 54px;
  left: 254px;
  top: calc(654px + 100px);
  position: absolute;
  border: none;
  font-size: 20px;
  color: white;
  background-color: #a44f00;
  letter-spacing: 0.41em;
  cursor: pointer;
}
.l {
  text-transform: uppercase;
  width: 150px;
  height: 60px;
  border-radius: 54px;
  left: 300px;
  top: calc(654px + 180px);
  position: absolute;
  font-size: 12px;
  font-weight: 1000;
  border: none;
  color: black;
  background-color: transparent;
  letter-spacing: 0.43em;
  cursor: pointer;
}
.left-sv {
  height: 491px;
  width: 322px;
  position: absolute;
  top:514px;
  left: -30px;
}
.right-sv{
  position: absolute;
width: 871px;
height: 521px;
left: 650px;
top: 461px;
}
li :hover{ 
  color: #000000;
  font-weight: 900;
}