.section {
  display: flex;
}
img {
  height: 100%;
  width: 635px;
  object-fit: cover;
}
.C {
  background:linear-gradient(-180deg, #ffc48e,#f9983e);
  height: 100%;
  width: 822px;
}
.mar {
  font-weight: bold;
  text-transform: uppercase;
  font-family:Roboto;
  letter-spacing: 10px;
  margin: 293px 112px 325px 130px;
  font-size: 59px;
  width: 527px;
}
.str {
  border-radius: 5px 0 0 5px;
  margin-top: 650px;
  margin-left: 749px;
  position: absolute;
  background-color: black;
  height: 15px;
  width: 147px;
}
.str1 {
  border-radius: 0 5px 5px 0;
  margin-top: 650px;
  margin-left: 920px;
  position: absolute;
  background-color: black;
  height: 15px;
  width: 50px;
}
header {
  margin-left: 27px;
  margin-top: 27px;
  position: absolute;
}
.gg {
  border-radius: 2px;
  margin-bottom: 5px;
  background-color: black;
  height: 8px;
  width: 50px;
}
.vector{
  z-index: 1;
  overflow: hidden;
  top: 550px;
  left: 0;
  right:1200px;
  width: 884px;
  height: 650px;
  position: absolute;
}
