#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 700px;
 
  width: 500px;
  display: block;
  border: 3px black solid;
}
li{
    display: block;
    padding:25px;
    border-bottom:2px black solid ;
}
