
a{
    text-decoration: none;
    color: inherit;
}
header {
  display: flex;
  width: 100%;
}
nav {
  margin-left: auto;

  width: 100%;
  max-width: 500px;
}
ul {
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 25px;
}
li {
  padding: 31px 50px;
  margin: 0;
  display: block;
}
li:hover {
  background-color: aliceblue;
}
.about {
  width: 100%;
  max-width: 600px;
  margin: 100px 0 260px 150px;
}
.about h1 {
  font-size: 61px;
  color: orangered;
}
.about p {
  font-size: 18px;
}
.icon img {
  height: 40px;
  width: 40px;
}
.projects{
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.box1,.box2,.box3{
    background-color: rgb(212, 214, 214);
    width: 450px;
    border-radius: 10px;
    padding: 5px;
}
.box1 p,.box2 p,.box3 p{
    font-size: 20px;
    font-weight: 550;
}
h2{
    margin: 5px 0 25px 100px;
    font-size: 40px;
}
div img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}