body {
  font-family: Roboto;
  background: linear-gradient(150deg, #c2fcef, #44ffbb);
}
a{
  text-decoration: none;
  color: inherit;
}
header {
  top: 12px;
  left: 25px;
  position: absolute;
  width: 100%;
  z-index: 1;
}
nav {
  padding: 5px;
  width: 500px;
}
nav > ul {
  display: flex;
  justify-content: space-between;
}
nav > ul > li {
  letter-spacing: 5px;
  font-weight: bold;
  display: block;
}
.about {
  position: absolute;
  text-transform: uppercase;
  height: 368px;
  width: 1193px;
  top: 310px;
  right: 510px;
  bottom: 301px;
  left: 209px;
}
.about > ul {
  display: flex;
}
.about > ul > li {
  letter-spacing: 3px;
  margin-left: 30px;
  font-size: 17px;
  font-weight: bolder;
}
h1 {
  font-size: 55pt;
  letter-spacing: 5px;
  margin: 0;
  font-weight: 900;
}
.circle {
  border: solid black 5px;
  position: absolute;
  border-radius: 50%;
  background-color: antiquewhite;
  height: 110px;
  width: 110px;
  top: 180px;
  right: 510px;
  bottom: 0px;
  left: 190px;
  z-index: 1;
}
.circle img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.Vector2 {
  border-radius: 10px;
  position: absolute;
  height: 534px;
  width: 8px;
  background-color: black;
  top: 91px;
  left: 88px;
  bottom: 455px;
}
.Vector3 {
  border-radius: 10px;
  position: absolute;
  height: 50px;
  width: 8px;
  background-color: black;
  top: calc(534px + 120px);
  left: 88px;
}
img {
  position: absolute;
  width: 1465px;
  height: 984px;
  left: 200px;
  top: 0px;
  background: unset;
}
.skills {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 30pt;
  margin-top: 910px;
  margin-left: 250px;
}
h2{
  margin: 0;
}
.skils {
  border-radius: 50px;
  margin: 0 0 10px 150px;
  background-color: antiquewhite;
  height: 170px;
  width: 170px;
}
.Vector4 {
  border-radius: 10px;
  position: absolute;
  height: 800px;
  width: 8px;
  background-color: rgb(0, 0, 0);
  top: calc(534px + 300px);
  left: 88px;
}
.Vector5{
  border-radius: 10px;
  background-color: black;
  position: absolute;
  width: 400px;
  height: 8px;
  top:940px;
  left: 650px;
}
.circle2{
  top:910px;
  right: 1300px;
  left: 150px ;
  border-radius: 50%;
  border: solid 10px black;
  position: absolute;
  background-color: beige;
  height: 50px;
  width: 50px;
}
.first{
  margin-top:10px;
}
.main2{
  display: flex;
  justify-content: center;
  gap:25px;
}
.proj{
  background-color:white;
  height: 500px;
  width: 300px;
}